img{
  max-width: 100%;
  height: 200px;
}
.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.postsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.postsList__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
}
.postsList__edit {
    display: block;
    text-transform: uppercase;
    padding: 8px 12px;
    background-color: transparent;
    color: grey;
    border-radius: 6px;
    border: 2px solid grey;
    transition: all 300ms ease;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
.postsList__edit:hover {
    background-color: grey;
    color: white;
    border-color: grey;
}